@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
:root {
  --primary-color: #f35525;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
.header {
  padding: 10px 0 !important;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.header .header-top .ht-left {
  display: flex;
}
.ht-left .htl-item:first-child {
  border-right: 2px solid #eee;
  padding-right: 20px;
  margin-right: 20px;
}

.header .header-top .htl-item i {
  color: var(--primary-color);
  margin-right: 10px;
  font-size: 18px;
}

.header-top .ht-right {
  display: flex;
  gap: 10px;
}
.header-top .ht-right i {
  color: #fff;
}
.header-top .ht-right a {
  text-decoration: none;
  background: #cdcdcd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top .ht-right a:hover {
  background: var(--primary-color);
  transition: 0.3s;
}

.header hr{
  background-color: #eee;
  height: 1px;
}

.header .header-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}

.header-bottom .hb-left{
  letter-spacing: 3px;
  font-size: 18px;
}

.header-bottom .hb-right ul{
  list-style-type: none;
  display: flex;
  gap: 50px;
  font-weight: 400;
  align-items: center;

}

.header-bottom .hb-right ul li:hover{
  color: var(--primary-color);
  transition: 0.3s;

}

.header-bottom .hb-right ul .active{
  color: var(--primary-color);
}

.header-bottom .hb-right button{
  background-color: black;
  color: #eee;
  border-radius: 21.5px;
  padding-right: 15px;
}


.header-bottom .hb-right button i{
  background-color: var(--primary-color) ;
  padding: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.header-bottom .hb-right button:hover > span{
  color: var(--primary-color);
  transition: 0.3s;
}


.banner .banner-text{
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: white;
  padding: 10px;
}

.banner .banner-text span{
  color: var(--primary-color);

}

.banner h2{
  position: absolute;
  top: 60%;
  left: 20%;
  color: white;
  font-size: 50px;
}

.featured-section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 10px; 
  padding: 50px;
}

.left-image {
  position: relative;
  /* padding: 50px; */

}


.left-image .single-property{
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  text-align: center;
  position:absolute;
  left: -40px;
  bottom: -40px;
}

/* Video view section start */

.video-view {
  position: relative;
}


.top-image .video-text{
  color: var(--primary-color);
  font-weight:600;
  font-size: smaller;
  position: absolute;
  left: 50%;
  bottom: 80%;
  padding-bottom: 10px;

}

.top-image h3{
  color: white;
  font-size: 40px;
  position: absolute;
  left: 40%;
  bottom: 60%;
  letter-spacing: 2px;
}

.video-frame img{
  position: absolute;
  height: 60%;
  width: 50%;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.fun-facts{
  padding: 20px;
}

.fun-facts .left{
  background-color:#ffeee9;
  border-radius: 10px;
  width: 270px;
  padding: 20px 0px;
  display: inline-block;
}

.fun-facts .left h2{
  color: var(--primary-color);
}

.fun-facts .left h2{
  font-weight: 600;
  text-align: left;
}

.fun-facts .middle{
  background-color:#ffeee9;
  border-radius: 10px;
  width: 270px;
  padding: 20px 0px;
  display: inline-block;
}

.fun-facts .middle h2{
  color: var(--primary-color);
}

.fun-facts .middle h2{
  font-weight: 600;
  text-align: left;
}

.fun-facts .right{
  background-color:#ffeee9;
  border-radius: 10px;
  width: 270px;
  padding: 20px 0px;
  display: inline-block;
  margin: auto;
}

.fun-facts .right h2{
  color: var(--primary-color);
}

.fun-facts .right h2{
  font-weight: 600;
  text-align: left;
}

/* Video view section end */