@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
:root {
  --primary-color: #f35525;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
.header {
  padding: 10px 0 !important;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.header .header-top .ht-left {
  display: flex;
}
.ht-left .htl-item:first-child {
  border-right: 2px solid #eee;
  padding-right: 20px;
  margin-right: 20px;
}

.header .header-top .htl-item i {
  color: var(--primary-color);
  margin-right: 10px;
  font-size: 18px;
}

.header-top .ht-right {
  display: flex;
  gap: 10px;
}
.header-top .ht-right i {
  color: #fff;
}
.header-top .ht-right a {
  text-decoration: none;
  background: #cdcdcd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top .ht-right a:hover {
  background: var(--primary-color);
  transition: 0.3s;
}

hr {
  background-color: #eee;
  height: 1px;
}

.header .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-bottom .hb-left {
  letter-spacing: 3px;
  font-size: 18px;
}

.header-bottom .hb-right ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  font-weight: 400;
  align-items: center;
}

.header-bottom .hb-right ul li:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.header-bottom .hb-right ul .active {
  color: var(--primary-color);
}

.header-bottom .hb-right button {
  background-color: black;
  color: #eee;
  border-radius: 21.5px;
  padding-right: 15px;
}

.header-bottom .hb-right button i {
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.header-bottom .hb-right button:hover > span {
  color: var(--primary-color);
  transition: 0.3s;
}
.owl-carousel {
  position: relative;
}
.owl-dots .active span {
  background-color: var(--primary-color) !important;
}
.owl-nav {
  position: absolute;
  top: 50%;
  display: flex;
}
.owl-nav button {
  background-color: #eee;
  padding: 15px;
  border-radius: 50%;
}

/* Featured Section Start */

.featured-section {
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto;
  padding: 50px;
}

.featured-section .left {
  /* position: relative; */
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
}

.featured-section .left .icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-top: -60px;
  margin-left: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-section .middle h1 {
  font-weight: 300;
  font-size: 40px;
}
.featured-section .middle .top {
  margin-bottom: 60px;
}
.featured-section .middle .top h4 {
  color: var(--primary-color);
}
.accordion .title {
  padding: 20px 10px;
  font-weight: 500;
}
.accordion .content {
  padding: 20px 10px 0 10px;
  font-weight: 400;
}
.featured-section .right .inner {
  width: 330px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 35px;
  border-radius: 20px;
}
.featured-section .right .box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 23px 0;
}
.featured-section .right .box img {
  width: 52px;
  height: 52px;
}
.featured-section .right .box p {
  font-weight: 300;
}

/* Featured Section End */

/* Video view section start */

.video-view {
  position: relative;
}
.top-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-image .video-text {
  color: var(--primary-color);
  font-weight: 600;
  font-size: smaller;
  text-align: center;
  margin-top: 70px;
  /* position: absolute;
  left: 50%;
  bottom: 80%;
  padding-bottom: 10px; */
}

.top-image img {
  width: 100%;
}

.top-image h3 {
  color: white;
  font-size: 40px;
  /* position: absolute;
  left: 40%;
  bottom: 60%; */
  letter-spacing: 2px;
}
.video-frame {
  position: relative;
}
.video-frame img {
  border-radius: 10px;
  margin-top: 50px;
}
.video-frame a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-frame a i {
  font-size: 50px;
  color: white;
  background-color: #f3552580;
  padding: 20px;
  border-radius: 50%;
}
.fun-facts {
  margin-top: 15rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.fun-facts .item {
  display: inline-flex;
  justify-content: center;
}
.fun-facts .inner-item {
  width: 270px;
  padding: 10px 20px;
  background-color: #ffeee9;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.fun-facts .inner-item::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.fun-facts h1 {
  margin-right: 25px;
  font-size: 40px;
  color: #f35525;
}
.fun-facts p {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}


/* Video view section end */

/* Best Deal Section Start */

.best-deal {
  background-color: #f7f7f7;
}

.best-deal .container {
  max-width: 1320px;
  padding: 50px;
}

.best-deal .container .deal-header h4{
  color: var(--primary-color);  
}

.best-deal .deal-top .top-left h1 {
  margin-bottom: 20px;
}

.best-deal .deal-top .top-left {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.best-deal .deal-top .top-right button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

.best-deal .deal-bottom {
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
}

.deal-bottom .deal-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 330px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 35px;
  border-radius: 20px;
}

.best-deal .deal-bottom hr {
  background-color: #eee;
  height: 1px;
}

.best-deal .deal-bottom .deal-middle img {
  width: 100%;
  height: auto;
}

.best-deal .deal-bottom .deal-right h3 {
  color: #333; 
  margin-bottom: 15px;
}

.best-deal .deal-bottom .deal-right button {
  background-color: black;
  color: #eee;
  border-radius: 21.5px;
  padding-right: 15px;
  margin-top: 20px;
}

.best-deal .deal-bottom .deal-right button i {
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.best-deal .deal-bottom .deal-right button:hover > span {
  color: var(--primary-color);
  transition: 0.3s;
}

/* Best Deal Section End */

/* Properties Section start */

.properties {
  padding: 40px;
}

.properties .property-top p{
  color: var(--primary-color);
  font-weight: 600;
  font-size: smaller;
  text-align: center;
  margin-top: 70px;
}

.properties .property-top h4{
color: black;
font-size: 40px;
letter-spacing: 2px;
text-align: center;
font-size: 30px;
}

.properties .listing {
  max-width: 1200px;
  margin: 60px;
  padding: 0 15px;
}

.properties .listing {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  padding: 50px;
}

.listing .listing-item {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  /* text-align: center; */
}

.listing .listing-item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px; 
}

.listing .listing-item h3 {
  color: var(--primary-color)
}

.listing .listing-item .specifications p {
  width: 110px;
  padding: 5px 12px;
  background-color: #ffeee9;
  /* display: flex;
  gap: 10px;
  position: relative; */
  border-radius: 10px;
}

.listing .listing-item ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.listing .listing-item hr {
  background-color: #eee;
  height: 1px;
  margin-bottom: 20px;
}

.listing .listing-item button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px; 
}

/* Properties Section end */

/* CONTACT US SECTION START */

.contact-us .contact-top p{
  color: var(--primary-color);
  font-weight: 600;
  font-size: smaller;
  text-align: center;
  padding: 50px 0 20px 0;

}

.contact-us .contact-top h4{
color: white;
font-size: 40px;
letter-spacing: 2px;
text-align: center;
font-size: 30px;
}

