                         /* max-width: 576px */
@media only screen and (max-width: 576px) {    
  .container {
    max-width: 100%;
    padding: 20px;
  }
  .header .header-top {
    padding: 20px;
  }

  .header .header-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

  .header-bottom .hb-right ul {
    gap: 10px;
}
  .featured-section {
    grid-template-columns: 1fr;
  }
  .properties .listing {
    grid-template-columns: 1fr;
    /* gap: 20px; */
  }
  .featured-section .left {
    padding: 30px;
  }
  .featured-section .left .icon {
    width: 60px;
    height: 60px;
    margin-top: -40px;
    margin-left: -20px;
  }

  .featured-section .left .feature-icon-img {
    width: 30px;
    height: 30px;
  }
  .featured-section .middle {
    padding: 0 20px;
  }
  .featured-section .middle .top {
    margin-bottom: 20px;
  }
  .featured-section .right {
    padding: 0 20px;
  }
  .top-image {
    background-size: contain;
    background-repeat: no-repeat;
    height: initial !important;
  }
  .top-image .video-text {
    margin-top: 20px;
  }
  .top-image h3 {
    font-size: 15px;
  }
  .top-image img {
    width: 90%;
  }
  .video-frame img {
    margin-top: 20px;
  }
  .video-frame {
    display: flex;
    justify-content: center;
  }
  .fun-facts {
    margin-top: 4rem;
  }

  .fun-facts {
    grid-template-columns: 1fr;
  }
  .fun-facts .item {
    padding: 0 20px;
  }
  .fun-facts .inner-item {
    width: 100%;
  }
  .fun-facts .inner-item::after {
    top: -15px;
    right: -10px;
    width: 40px;
    height: 40px;
  }
  .best-deal .container {
    padding: 20px 20px;
  }
  .best-deal .deal-top {
    display: block;
  }
  .best-deal .deal-top .top-left h1 {
    font-size: 27px;
    margin-top: 10px;
  }

  .best-deal .deal-top .top-right {
    display: flex;
    justify-content: space-between;
  }
  .best-deal .deal-top .top-right button {
    padding: 10px 22px;
    font-size: 10pt;
  }
  .best-deal .deal-bottom {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    margin: 30px;
  }

  .contact-us .contact-bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: -250px;
  }
  .contact-us .bottom-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
  }

  .footer{
    line-height: 56px;
  }
}

 

                          /* min-width: 576px */
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }


  .featured-section {
    grid-template-columns: 1fr;
  }
  .properties .listing {
    grid-template-columns: 1fr;
  }
}


                            /* min-width: 768px */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .featured-section {
    grid-template-columns: 1fr;
  }
  .featured-section {
    padding: 50px 40px;
  }
  .properties .listing {
    grid-template-columns: repeat(2, 1fr);
    /* gap: 20px; */
  }
}

                                /* min-width: 992px */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .featured-section {
    padding: 50px 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .featured-section .left .icon {
    width: 60px;
    height: 60px;
    margin-top: -35px;
    margin-left: -35px;
  }

  .featured-section .left .feature-icon-img {
    width: 30px;
    height: 30px;
  }

  .featured-section .middle h1 {
    font-weight: 300;
    font-size: 25px;
  }
  .featured-section .middle .top {
    margin-bottom: 20px;
  }
  .featured-section .middle .top h4 {
    color: var(--primary-color);
  }
  .accordion .title {
    font-size: 14px;
    padding: 10px 10px;
  }
  .accordion .content {
    font-size: 14px;
  }

  .featured-section .right .inner {
    padding: 25px;
  }
  .featured-section .right .box {
    gap: 15px;
    margin: 18px 0;
  }
  .featured-section .right .box h2 {
    font-size: 20px;
  }
  .featured-section .right .box img {
    width: 45px;
    height: 45px;
  }
  .featured-section .right .box p {
    font-weight: 300;
  }
  .properties .listing {
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}

                            /* min-width: 1200px */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .featured-section .left .icon {
    width: 100px;
    height: 100px;
    margin-top: -60px;
    margin-left: -60px;
  }

  .featured-section .left .feature-icon-img {
    width: 50px;
    height: 50px;
  }
  .featured-section .middle h1 {
    font-weight: 300;
    font-size: 40px;
  }
  .featured-section .middle .top {
    margin-bottom: 60px;
  }
  .featured-section .middle .top h4 {
    color: var(--primary-color);
  }
  .accordion .title {
    padding: 20px 10px;
    font-weight: 500;
  }
  .accordion .content {
    padding: 20px 10px 0 10px;
    font-weight: 400;
  }

  .featured-section .right .box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 35px 0;
  }
  .featured-section .right .box img {
    width: 52px;
    height: 52px;
  }
  .featured-section .right .box p {
    font-weight: 300;
  }
  .accordion .title {
    padding: 20px 10px;
    font-weight: 500;
  }
  .accordion .content {
    padding: 20px 10px 0 10px;
    font-weight: 400;
  }
  .featured-section .right .box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 35px 0;
  }
  .featured-section .right .box img {
    width: 52px;
    height: 52px;
  }
  .featured-section .right .box p {
    font-weight: 300;
  }
  .properties .listing {
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}

                                /* min-width: 1400px */
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
